@mixin changeBgOnHover {
  &:hover {
    background-color: $secondary-color;
  }
}

button,
.btn {
  width: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border: none;
  font-size: $base-font-size;
  color: #fff;
  transition: 0.4s;
  cursor: pointer;

  &.btn-primary {
    @include changeBgOnHover;
    padding: 1.6rem 3.2rem;
    background-color: $primary-color;
    color: #fff;
  }

  &.btn-contact,
  &.previous-slide,
  &.next-slide {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    background-color: $primary-color;

    svg {
      width: 2.4rem;
      height: 2.4rem;
      path {
        stroke: #fff;
      }
    }
  }

  &.previous-slide,
  &.next-slide {
    @include changeBgOnHover;
  }

  &.btn-transparent {
    color: $text-dark;
  }

  &.btn-secondary {
    padding: 1.6rem 3.2rem;
    background-color: $secondary-color;
    color: #fff;
  }

  &:active,
  &:visited,
  &:focus {
    outline: none;
  }

  &:hover {
    transform: translateY(-3px);
  }
}
