*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  font-size: $base-font-size;
  overflow-x: hidden;
}

section {
  width: 100%;
  display: flex;
  justify-content: center;
  color: $text-dark;

  .container {
    width: 100%;
    max-width: 140rem;
    height: 100%;
  }
}
