$base-font-size: clamp(1.6rem, 2.5vw, 2rem);
$base-padding: clamp(1.6rem, 2.5vw, 4rem);
$section-padding: clamp(3rem, 5.5vw, 6rem);
$text-bright: #fff;
$text-light: rgb(250, 250, 250);

$text-shadow: 0 2px 3px rgba(0, 0, 0, 0.4);
$text-dark: rgb(42, 42, 42);

$primary-color: #000d1a;
$secondary-color: #cd853f;
