#listings-section {
  .container {
    > *:not(:last-child) {
      margin-bottom: 2rem;
    }
  }

  .homes {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;

    .home {
      > *:not(:last-child) {
        margin-bottom: 2rem;
      }

      &:nth-child(2) {
        margin-top: 12rem;
      }

      img {
        width: 100%;
      }
    }
  }

  @media (max-width: 768px) {
    .homes {
      grid-template-columns: 1fr;

      .home {
        &:nth-child(2) {
          margin-top: 0;
        }
      }
    }
  }
}
