nav {
  width: 100%;
  position: fixed;
  padding: 1.6rem $base-padding;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;

  .logo {
    text-transform: uppercase;
    font-style: italic;
    color: $text-bright;
    font-weight: 700;
    letter-spacing: 2px;
  }

  .nav-menu {
    display: flex;
    align-items: center;
    gap: 2rem;

    li a {
      text-transform: uppercase;
      color: $text-bright;
      font-size: 1.8rem;
      letter-spacing: 1px;
      font-weight: 500;
      transition: 0.4s;

      &:hover {
        color: $secondary-color;
      }
    }
  }

  .mobile-menu {
    flex-direction: column;
    align-items: flex-end;
    gap: 6px;
    overflow: hidden;
    display: none;
    cursor: pointer;

    div {
      width: 2.4rem;
      height: 3px;
      background-color: $text-bright;
      transition: all 0.4s ease;

      &:nth-of-type(even) {
        width: 1.8rem;
      }
    }

    &:hover div {
      width: 2.4rem;
    }
  }

  .mobile-menu.active {
    div:nth-of-type(1) {
      transform: translateY(9px) rotate(45deg);
    }
    div:nth-of-type(2) {
      transform: translateX(-5rem);
    }
    div:nth-of-type(3) {
      transform: translateY(-9px) rotate(-45deg);
    }
  }

  @media (max-width: 768px) {
    .nav-menu,
    .btn.btn-contact {
      display: none;
    }
    .mobile-menu {
      display: flex;
    }
  }
}
