@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
html {
  font-family: 'Montserrat', sans-serif;
  font-size: 62.5%;
  line-height: 1.618;
}

h2.page-title {
  font-size: clamp(3.2rem, 2.5vw, 4rem);
  font-weight: 400;
}

h3 {
  font-size: clamp(2rem, 2.5vw, 2.8rem);
  font-weight: 400;
}

button,
.btn {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
  border: none;
  font-size: clamp(1.6rem, 2.5vw, 2rem);
  color: #fff;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  cursor: pointer;
}

button.btn-primary,
.btn.btn-primary {
  margin-top: clamp(1.6rem, 2.5vw, 4rem);
  padding: 1.6rem 3.2rem;
  background-color: #000d1a;
  color: #fff;
}

button.btn-primary:hover,
.btn.btn-primary:hover {
  background-color: #cd853f;
}

button.btn-contact, button.previous-slide, button.next-slide,
.btn.btn-contact,
.btn.previous-slide,
.btn.next-slide {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background-color: #000d1a;
}

button.btn-contact:hover, button.previous-slide:hover, button.next-slide:hover,
.btn.btn-contact:hover,
.btn.previous-slide:hover,
.btn.next-slide:hover {
  background-color: #cd853f;
}

button.btn-contact svg, button.previous-slide svg, button.next-slide svg,
.btn.btn-contact svg,
.btn.previous-slide svg,
.btn.next-slide svg {
  width: 2.4rem;
  height: 2.4rem;
}

button.btn-contact svg path, button.previous-slide svg path, button.next-slide svg path,
.btn.btn-contact svg path,
.btn.previous-slide svg path,
.btn.next-slide svg path {
  stroke: #fff;
}

button.btn-transparent,
.btn.btn-transparent {
  color: #2a2a2a;
}

button:focus,
.btn:focus {
  outline: none;
}

button:hover,
.btn:hover {
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  font-size: clamp(1.6rem, 2.5vw, 2rem);
  overflow-x: hidden;
}

section {
  width: 100%;
  padding: clamp(1.6rem, 2.5vw, 4rem) 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #2a2a2a;
}

section .container {
  width: 100%;
  max-width: 140rem;
  height: 100%;
}

nav {
  width: 100%;
  position: fixed;
  padding: 1.6rem clamp(1.6rem, 2.5vw, 4rem);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1000;
}

nav .logo {
  text-transform: uppercase;
  font-style: italic;
  color: #fff;
  font-weight: 700;
  letter-spacing: 2px;
}

nav .nav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
}

nav .nav-menu li a {
  text-transform: uppercase;
  color: #fff;
  font-size: 1.8rem;
  letter-spacing: 1px;
  font-weight: 500;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

nav .nav-menu li a:hover {
  color: #cd853f;
}

nav .mobile-menu {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  gap: 6px;
  overflow: hidden;
  display: none;
  cursor: pointer;
}

nav .mobile-menu div {
  width: 2.4rem;
  height: 3px;
  background-color: #fff;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

nav .mobile-menu div:nth-of-type(even) {
  width: 1.8rem;
}

nav .mobile-menu:hover div {
  width: 2.4rem;
}

nav .mobile-menu.active div:nth-of-type(1) {
  -webkit-transform: translateY(9px) rotate(45deg);
          transform: translateY(9px) rotate(45deg);
}

nav .mobile-menu.active div:nth-of-type(2) {
  -webkit-transform: translateX(-5rem);
          transform: translateX(-5rem);
}

nav .mobile-menu.active div:nth-of-type(3) {
  -webkit-transform: translateY(-9px) rotate(-45deg);
          transform: translateY(-9px) rotate(-45deg);
}

@media (max-width: 768px) {
  nav .nav-menu,
  nav .btn.btn-contact {
    display: none;
  }
  nav .mobile-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.dropdown-nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  background-color: #cd853f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}

.dropdown-nav.active {
  opacity: 1;
  pointer-events: all;
}

.dropdown-nav .nav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dropdown-nav .nav-menu li {
  padding: clamp(1.6rem, 2.5vw, 4rem);
}

.dropdown-nav .nav-menu li a {
  text-transform: capitalize;
  font-size: 2.4rem;
  color: #fff;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.dropdown-nav .nav-menu li a:hover {
  color: #000d1a;
}

#hero {
  width: 100vw;
  height: 100vh;
  min-height: 55rem;
  position: relative;
  overflow: hidden;
}

#hero .wrapper {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#hero .wrapper .hero-slide {
  width: 100%;
  height: 100%;
}

#hero .wrapper .hero-slide .hero-image {
  position: relative;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#hero .wrapper .hero-slide .hero-image::before {
  content: '';
  display: block;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 1;
}

#hero .wrapper .hero-slide .hero-content {
  position: relative;
  width: 100%;
  padding: clamp(1.6rem, 2.5vw, 4rem);
  color: #fff;
  z-index: 2;
}

#hero .wrapper .hero-slide .hero-content h1 {
  font-size: clamp(2.4rem, 5vw, 4.8rem);
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-shadow: 0 2px 3px rgba(0, 0, 0, 0.4);
  margin-bottom: 8px;
}

#hero .wrapper .hero-slide .hero-content p {
  font-size: clamp(1.8rem, 2.5vw, 2.4rem);
  font-weight: 600;
  letter-spacing: 2px;
  text-shadow: 0 2px 3px rgba(0, 0, 0, 0.4);
}

#hero .slider-buttons {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 1.6rem clamp(1.6rem, 2.5vw, 4rem);
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.6rem;
}

#info-section .container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

#info-section .container .text-side,
#info-section .container .image-side {
  padding: clamp(1.6rem, 2.5vw, 4rem);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

#info-section .container .text-side > *:not(:last-child),
#info-section .container .image-side > *:not(:last-child) {
  margin-bottom: 2rem;
}

#info-section .container .text-side p,
#info-section .container .image-side p {
  max-width: 70ch;
  font-weight: 300;
}

#info-section .container .text-side img,
#info-section .container .image-side img {
  width: 100%;
}

@media (max-width: 768px) {
  #info-section .container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

#listings-section .container {
  padding: clamp(1.6rem, 2.5vw, 4rem);
}

#listings-section .homes {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  gap: clamp(1.6rem, 2.5vw, 4rem);
}

#listings-section .homes .home {
  padding: clamp(1.6rem, 2.5vw, 4rem) 0;
}

#listings-section .homes .home > *:not(:last-child) {
  margin-bottom: 2rem;
}

#listings-section .homes .home:nth-child(2) {
  margin-top: 12rem;
}

#listings-section .homes .home img {
  width: 100%;
}

@media (max-width: 768px) {
  #listings-section .homes {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  #listings-section .homes .home:nth-child(2) {
    margin-top: 0;
  }
}
